.stone{
    animation-name: stoneV;
    background-image: url("/images/assets/rough-stone-texture.jpg");
    background-size: cover;
}
.wood{
    animation-name: woodV;
    background-image: url("/images/assets/wood-texture.jpg");
    background-size: cover;
  }
.plastic{
    animation-name: rubberV;
    background-image: url("/images/assets/plastic-texture.jpg");
}
.rubber{
    animation-name: slimeV;
    background-image: url("/images/assets/rubber-texture.jpg");
    background-size: cover;
}
@keyframes stoneV{
            
    0%   {top:100%; animation-timing-function: ease-out; }
    38% {top:1%;}
    41% {top:0%;}
    43% {top:1%; animation-timing-function: ease-in;}
    75% {top:100%;animation-timing-function: ease-out;}
    82% {top:95%;}
    90% {top:100%;}
    95% {top:99%;}
    100% {top:100%;}
}
@keyframes woodV{
    
    0%   {top:100%; animation-timing-function: ease-out; }
    35% {top:0%; animation-timing-function: ease-in;}
    65% {top:100%; animation-timing-function: ease-out;}
    75% {top:80%; animation-timing-function: ease-in;}
    86% {top:100%; animation-timing-function: ease-out;}
    95% {top:95%; animation-timing-function: ease-in;}
    100% {top:100%;}
}
@keyframes rubberV{
    
    0%   {left:0px; top:100%; animation-timing-function: ease-out; }
    5%  {top:110%; transform: scaleY(.5);}
    20% { transform: scaleY(1);}
    35% {left:0px; top:0%; animation-timing-function: ease-in;}
    60% {left:0px; top:100%; transform: scaleY(1); animation-timing-function: ease-out}
    65% {left:0px; top:105%; transform: scaleY(.8);}
    80% {left:0px; top:80%; transform: scaleY(1); animation-timing-function: ease-in}
    90% {top:100%; transform: scaleY(1);}
    95% {left:0px; top:102%; transform: scaleY(.9);}
    100% {left:0px; top:100%;  transform: scaleY(1);}
}
@keyframes slimeV{
    0%   {left:0px; top:100%; animation-timing-function: ease-out; }
    5%  {top:110%; transform: scaleY(.5);}
    10% {transform: scaleX(.7)}
    40% {top: 0%; animation-timing-function: ease-in; transform: scaleY(1) scaleX(1)}
    59% {top: 99%; transform: scaleY(1.3) scaleX(.7); animation-timing-function: ease-out}
    60% {top: 100%; transform: scaleY(1) scaleX(.9); animation-timing-function: ease-out}
    65% {top:109%; transform: scaleY(.5) scaleX(1);}
    70% {transform: scaleY(1) scaleX(.8);}
    80% {top: 70%; transform: scaleY(1) scaleX(1); animation-timing-function: ease-in;}
    90% {top:100%; transform: scaleY(1) scaleX(.8);} 
    95% {top:105%; transform: scaleY(.8) scaleX(1);}
    100% {top: 100%;  transform: scaleY(1)}
}
