@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body {
	background: linear-gradient(to left, #000, #210 30%, #210 70%, #000);
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 18px;
}

header {
	.logo {
		position: fixed;
		padding: 1em;
		background: #fff;
	}
	nav {
		ul {
			list-style: none;
			display: flex;
			justify-content: flex-end;
			li {
				transition: transform 200ms ease-in-out allow-discrete;
				transform: translate(0,0);
				width: 15vw;
				rotate: -10deg;
				margin: -8vw -2vw -2vw 0;
			}
			li:hover, li:focus-within {
				transition: transform 100ms ease-in-out allow-discrete;
				transform: translate(0,5vw);
			}
			li:nth-child(0) {
				z-index: 3;
			}
			li:nth-child(1) {
				z-index: 3;
			}
			li:nth-child(2) {
				z-index: 2;
			}
			li:nth-child(3) {
				z-index: 1;
			}
			li:nth-child(4) { 
				/* credits */
				background: #fff;
				text-align: center;
				padding: 10vw 0 0;
				width: 10vw;
				rotate: 0deg;		
				font-size: 22px;
			}
		}
	}
   
}

main {
	margin: 25px auto 0;
	width: 66.667vw;
	min-height: 80vh;
	background: url('/images/corkboard.jpg') repeat;
	border: min(2vw,24px) solid;
	border-image: url('/images/wood.png') 32;
	display: flex;
	gap: 20px;
	padding: 20px;
	/* flex-flow: row wrap; */
}

.paper {
	display: inline-block;
	background: #faf3f3;
	/* margin: 25px; */
	padding: 0em 1em 1em;
	text-align: center;
	height: fit-content;
	h1 {
		display: inline-flex;
		align-items: center;
		font-family: "Lacquer", system-ui;
		vertical-align: middle;
		line-height: 1.5em;
		font-size: 32px;
	}
	.pin-img {
		align-self: center;
	}
	p {
		text-align: left;
		margin: .25em .5em;
	}
}

.pin-img {
	display: inline-block;
	margin: -.5em .25em -.5em -.25em;
	width: 64px;
}