
.vidwrap{
    border: solid, black, 2px;
    display: grid;
    width:100%;
    padding:5px;
    grid-template-areas:
      "video"
      "title";
     gap: 5px;
     grid-template-rows: 7fr 1fr;
     background-color: white;
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.505);
}
.vidwrap video#vidID{
    grid-area: video;
    align-self: center;
    display:flex;
    width: 100%;
    min-height:20px;
    border:solid,black,2px; 
}
.vidwrap .title{
    grid-area: title;
   }
.imageset{
    display: grid;
    width:100%;
    grid-template-areas:
    "left frame right"
    "title title title";
     gap: 5px;
     grid-template-columns: .5fr 4fr .5fr;
     grid-template-rows: 3fr 1fr;
     object-fit: contain;
}
.imageset .title{
    grid-area: title;
    display:flex;
    justify-content: center;
    align-items: center;
}
.imageset .title h2{
    border-radius:5px;
    background-color:white;
    padding:5px 20px 5px 20px;
}
.imageset div{
    display:flex;
   width: 100%;
   height:100%;
   }
.imageset .frame{
    grid-area: frame;
     object-fit:cover;
     overflow: hidden;
     grid-area: frame;
     width: 100%;
     height: 100%;
     display:flex;
     align-items: center;
     flex-direction: column;
     border-radius:20px;
    }
.imageset .frame img{
    max-height:240px;
    min-width: 300px;
    width:100%;
    height:100%
}
.spacer{
     grid-area: spacer;
    }
.left{
     grid-area: left;
     display: inline-flex;
    }
.right{
     grid-area: right;
     display: inline-flex;
 }
#switch{
    align-self:center;
    justify-content:center;
 }
 img#currentslide{
    object-fit: contain;
    display: flex;
    width: 400px;
    height:340px;
    align-self: baseline;
    }

@media (max-width: 900px) { 
    .imageset{
        grid-template-areas:
        "title title title"
        "left frame right";
        grid-template-columns: .5fr 4fr .5fr;
        grid-template-rows: 1fr 4fr;
        gap: 5px;
        height:100%;
    }
    .imageset .title{
        height:fit-content;
    }
    .imageset .frame{
         width: 100%;
         height:99%;
         justify-content: center;
         align-content: center;
         object-fit : contain;
         overflow-x: hidden;
        }
    .imageset .frame img{
        height:100%;
        width:100%;
        min-width: 250px;
        align-self: center;
    }

    .vidwrap{
        height:100%;
        padding:0%;
        grid-template-areas:
        "video"
        "title";
        grid-template-rows:9fr 1fr;

    }
    .vidwrap video#vidID{
       height:100%;
    }
}
